<span class="ml-3">
    <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.81434 7.52868L1.68093 13.5816C1.43335 13.8735 1.03196 13.8735 0.784406 13.5816L0.185678 12.8756C-0.0614783 12.5842 -0.0619537 12.1119 0.184622 11.8198L4.25294 7.00011L0.184622 2.18049C-0.0619537 1.88838 -0.0614783 1.41606 0.185678 1.12463L0.784406 0.418652C1.03198 0.126725 1.43337 0.126725 1.68093 0.418652L6.81431 6.47157C7.06189 6.76346 7.06189 7.23675 6.81434 7.52868Z" fill="#FF7F40"/>
    </svg>
</span>