<section class="max-w-screen-2xl mx-auto">
    <h3 class="heading pb-1">Featured Categories</h3>
</section>

{% schema %}
{
    "name":"Featured Collections",
    "settings": [
        {
            "type": "collection",
            "id": "collection-1",
            "label": "Collection 1"
        },
        {
            "type": "collection",
            "id": "collection-2",
            "label": "Collection 2"
        },
        {
            "type": "collection",
            "id": "collection-3",
            "label": "Collection 3"
        },
        {
            "type": "collection",
            "id": "collection-4",
            "label": "Collection 4"
        },
        {
            "type": "collection",
            "id": "collection-5",
            "label": "Collection 5"
        },
        {
            "type": "collection",
            "id": "collection-6",
            "label": "Collection 6"
        }
    ]
}
{% endschema %}