<section class="max-w-screen-2xl mx-auto">
    <h3 class="heading pb-1">Featured Categories</h3>
</section>

{% schema %}
{
    "name":"Featured Collections",
    "settings": [
    ]
}
{% endschema %}