<section>

</section>
{% schema %}
{
    "name":"Our Brands",
    "blocks": [
        {
			"type":"brand",
			"name":"Brand",
			"settings": [
				{
					"type":"image_picker",
					"id":"brand-logo",
					"label":"Logo"
				},
				{
					"type":"url",
					"id":"brand-site",
					"label":"Site"
				}
			]
		}
    ]
}
{% endschema %}